.nav-item {
  padding-right: 20px;
}

.tng-image {
  max-width: 100%;
}

body {
  background-color: #1a0920 !important;
}

.custom-navbar {
  background-color: #451e53 !important;
  justify-content: center;
}