body {
  background-color: #1a0920 !important;
}

/*--------- NAVBAR --------- */

.navbar-nav .nav-link {
  color: white;
  text-decoration: none;
}

.navbar-nav .nav-link:hover {
  text-decoration: none;
}

#navbarNav {
  display: flex !important;
  justify-content: center;
}

.custom-navbar {
  background-color: #451e53 !important;
  justify-content: center;
}

/* ----------------------------------------------- */

/*--------- IMAGE OVERLAY --------- */

.image-text-container {
  position: relative;
  display: inline-block;
}

.image-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.image-text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.image-text-content h1 {
  color: white;
}

/* ----------------------------------------------- */

.card-body {
  box-shadow: 1px 1px;
}

.formbutton {
  display: flex;
  justify-content: center;
}

.buttonsubmit {
  background-color: #451e53 !important;
  border: none !important;
}

.buttonsubmit:hover {
  background-color: #1a0920 !important;
}